* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

* body {
  background-color: #f3ffc68c;
}

span {
  color: #ee8f9d;
}

.navbar {
  background-color: #1c5253;
  padding: 16px 128px;
}

.navbar .navbar-brand {
  font-size: 22.4px;
  font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
  color: #fff;
  font-size: 18px;
  padding: 0 13px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
  color: goldenrod;
}

#navbarSupportedContent > button {
  background-color: #e9f8b4;
  font-weight: 600;
  padding: 7px 23px;
  border-radius: 30px;
}

.pic-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.pic-slide img {
  height: 400px;
  width: 500px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 0px;
}

.main .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .col .col-1 {
  margin-left: 36px;
  margin-top: 20px;
}

.main .col .col-1 a {
  color: hotpink;
  text-decoration: none;
}

.main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.main .row img {
  height: 262px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 12px;
}

.main h1 {
  color: #1c5253;
  text-align: center;
  margin: 25px;
  font-weight: 700;
  text-shadow: 5px 5px 10px #306b34;
}

.main .row-bottom {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  text-align: center;
  background-color: #1c5253;
  color: white;
  font-size: 14px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer span {
  font-weight: 700;
  margin-top: 18px;
  color: lightpink;
}

@media (max-width: 768px) {
  .col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col-1 {
    display: none;
    width: 0%;
  }
  .col-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-11 .card {
    margin: 0 40px;
  }
}

@media (max-width: 1024px) {
  .col-1 {
    display: none;
  }
  .col-11 {
    margin-left: 40px;
  }
}

@media (max-width: 1400px) {
  .col-1 {
    display: none;
  }
  .col-11 {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=style.css.map */